/* back ground */

.background {
  height: 100vh;
  background-size: cover;
  background-image: url(https://img4.thuthuatphanmem.vn/uploads/2020/08/02/hinh-nen-ngoi-nha-ben-khu-rung-xanh-la_014047414.jpg);
  //url(https://img4.thuthuatphanmem.vn/uploads/2020/08/02/hinh-nen-ngoi-nha-ben-khu-rung-xanh-la_014047414.jpg);
  position: relative;

  .wrapper {
    margin-bottom: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: transparent;
    display: flex;
    align-items: center;
  }

  // & là tên class của thk cha
  &__content {
    background-color: transparent;
    transform: translateX(300px);
    color: white;

    > * {
      width: 1200px;
    }

    &__name {
      font-size: 60px;
      font-weight: 900;
      -webkit-text-stroke-width: 2px;
      -webkit-text-stroke-color: #fff;
      color: transparent;
    }

    &__skill {
      ul {
        list-style: none;
        height: 80px;
        overflow: hidden;
        li {
          font-size: 60px;
          font-weight: 900;
          line-height: 80px;
          animation-name: slide;
          animation-duration: 6s;
          animation-iteration-count: infinite;
          animation-direction: alternate;
          animation-fill-mode: backwards;
        }
      }
    }

    &__from {
      font-weight: 500;
      font-size: 30px;
    }

    &__button {
      display: flex;
      margin-top: 30px;
      a {
        margin-right: 20px;
        color: #fff;
        text-decoration: none;
        border: 2px solid white;
        padding: 20px;
        font-size: 23px;
        border-radius: 50px;
        display: flex;
        width: 60px;
        height: 60px;
        overflow: hidden;
        align-items: center;
        transition: all 0.5s;
        i {
          margin-right: 22px;
          margin-left: 0.5px;
          margin-top: 1px;
        }

        &:hover {
          width: 240px;
          color: rgb(33, 98, 184);
          border-color: rgb(33, 98, 184);
          background-color: #fff;
        }

        &:nth-child(1):hover {
          width: 343px;
        }

        &:nth-child(3):hover {
          width: 475px;
        }

        // để fix lỗi chữ contact me bị chia làm 2 dòng khi hover
        span {
          min-width: 2000px;
          display: block;
        }
      }

      .logo2 i {
        margin-right: 10px;
        transform: translateX(-5.5px) translateY(0.38px);
        font-size: 30px;
      }

      .logo3 i {
        font-size: 30px;
        margin-right: 10px;
        transform: translateX(-7.3px) translateY(0.38px);
        transition: all 0.5s;
      }
    }
  }
}

@keyframes slide {
  50% {
    transform: translateY(-80px);
  }
  100% {
    transform: translateY(-180px);
  }
}

header {
  z-index: 100;
}

body {
  overflow: hidden;
}
